/* MAIN PAGE  */
navbar {
  margin-bottom: 140px;
}

.explanation-title {
  text-align: centre;
}

#main_title {
  padding: 90px;
  background-color: green;
}

.buttons_main_page {
  padding-top: 70px;
}

.footer{
  position: absolute;
  bottom: 0;
  left: 40%;
  right:40%;
  text-align: center;
}


/* BUSINESS PAGE  */
#business_category {
  padding: 40px;
  background-color:blue;
}

#business_details {
  padding: 40px;
  background-color: green;
}

#sort_results {
  padding: 40px;
  background-color: yellow;
}
