/* MAIN PAGE  */
navbar {
  margin-bottom: 140px;
}

.explanation-title {
  text-align: centre;
}

#main_title {
  padding: 90px;
  background-color: #DBF9F4;
}

.buttons_main_page {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #FAC9B8;
}

.footer{
  position: absolute;
  bottom: 0;
  left: 35%;
  right:35%;
  text-align: center;
}


/* BUSINESS& PEOPLE PAGE  */
#business_category {
  padding: 40px;
  background-color:#5B9279;
}

#input_details {
  padding: 40px;
  background-color: #8FCB9B;
}

#sort_results {
  padding: 20px;
  background-color: #EAE6E5;
}
.label_css {
  font-size: 20px;
  padding: 0px 5px;
}

.container {
  padding: 0px;
}


#title {
  padding: 20px;
}

h1 {
  font-family: 'Abel', sans-serif;
  font-size: 50px;
}
