
<!DOCTYPE html>
<html lang="en-GB">

<head>
  <title>Ada Lovelace</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-css.css')}}">
  
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>

<body>
  <div class="body_for_individual_pages">
    <header>
      <nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-light bg-light shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="grace-hopper.html">Grace Hopper</a>
              <a class="nav-item nav-link" href="katherine-johnson.html">Katherine Johnson</a>
            </div>
          </div>
      </nav>
    </header>

    <main>
      <div class="wrapper_for_body">
        <blockquote class="blockquote text-center">
          <p class="mb-0">"The more I study, the more insatiable do I feel my genius for it to be."</p>
          <footer class="blockquote-footer"><cite title="Source Title">Ada Lovelace</cite></footer>
        </blockquote>

        <div class="body_without_nav">
          <h1 class="display-2 container text-center google-font">Ada Lovelace</h1>
          <div class="container">
            <div class="text-center short_bio">
              <h2>Short bio:</h2>
              <ul>
                <li>Born: The Hon. Augusta Ada Byron, 10 December 1815, London, England</li>
                <li>Died: 27 November 1852, Marylebone, London, England</li>
                <li>Known for: Mathematics, Computing</li>
              </ul>
            </div>
          </div>
          <!--short_bio container ends here-->
        </div>
        <!--body_without_nav ends here-->
        <blockquote class="blockquote text-center">
          <p class="mb-0">"That brain of mine is something more than merely mortal."</p>
          <footer class="blockquote-footer"><cite title="Source Title">Ada Lovelace</cite></footer>
        </blockquote>


        <div class="container container_long_bio rounded">
          <div class="row">
            <div class="col-md-8">
              <h2>Long bio:</h2>

              <p>Augusta Ada King-Noel, Countess of Lovelace <em>(née Byron)</em> was an English mathematician and writer, chiefly known for her work on Charles Babbage's proposed mechanical general-purpose computer, the Analytical Engine. She was
                the
                first
                to recognise that the machine had applications beyond pure calculation, and published the first algorithm intended to be carried out by such a machine. As a result, she is sometimes regarded as the first to recognise the full
                potential
                of a
                "computing machine" and the first computer programmer.</p>

              <p>Lovelace was the only legitimate child of the poet Lord Byron and his wife Anne Isabella "Annabella" Milbanke, Lady Wentworth. All of Byron's other children were born out of wedlock to other women. Byron separated from his wife a
                month
                after Ada was born and left England forever four months later. He commemorated the parting in a poem that begins, "Is thy face like thy mother's my fair child! ADA! sole daughter of my house and heart?". He died of disease in the
                Greek
                War
                of Independence when Ada was eight years old. Her mother remained bitter and promoted Ada's interest in mathematics and logic in an effort to prevent her from developing her father's perceived insanity. Despite this, Ada remained
                interested
                in Byron and was, upon her eventual death, buried next to him at her request. She was often ill in her childhood. Ada married William King in 1835. King was made Earl of Lovelace in 1838, and Ada in turn became Countess of
                Lovelace.</p>

              <p>Her educational and social exploits brought her into contact with scientists such as Andrew Crosse, Sir David Brewster, Charles Wheatstone, Michael Faraday and the author Charles Dickens, which she used to further her education.
                Ada
                described her approach as "poetical science" and herself as an "Analyst (& Metaphysician)".</p>


              <p>When she was a teenager, her mathematical talents led her to a long working relationship and friendship with fellow British mathematician Charles Babbage, also known as "the father of computers", and in particular, Babbage's work
                on
                the
                Analytical Engine. Lovelace first met him in June 1833, through their mutual friend, and her private tutor, Mary Somerville.</p>

              <p>Between 1842 and 1843, Ada translated an article by Italian military engineer Luigi Menabrea on the engine, which she supplemented with an elaborate set of notes, simply called Notes. These notes contain what many consider to be
                the
                first
                computer program—that is, an algorithm designed to be carried out by a machine. Lovelace's notes are important in the early history of computers. She also developed a vision of the capability of computers to go beyond mere
                calculating
                or
                number-crunching, while many others, including Babbage himself, focused only on those capabilities. Her mindset of "poetical science" led her to ask questions about the Analytical Engine (as shown in her notes) examining how
                individuals and
                society relate to technology as a collaborative tool.</p>

              <p>She died of uterine cancer in 1852 at the age of 36.</p>

              </section>
            </div>
            <!--col-md-8 closes here-->
            <div class="col-md-4">
              <figure class="picture_on_single_page">
                <img src="static/images/ada.jpg" alt="Painting of Ada Lovelace" class="img-fluid img-responsive rounded rounded-circle" />
                <figcaption class="text-center">
                  <p><em>Ada Lovelace</em></p>
                </figcaption>
              </figure>
            </div>
            <!--col-md-4 closes here-->
          </div><!-- row closes here-->

        </div>
        <!--container container_long_bio closes here-->
      </div>
      <!--wrapper_for_body closes here-->
    </main>
    <footer>
      <p class="text-center">
        Go back to the <a href="index.html"> Overview</a>
      </p>
      <p class="text-center">Source:
        <a href="https://en.wikipedia.org/wiki/Ada_Lovelace">Wikipedia</a></p>
    </footer>
  </div>
  <!--container for body ends here-->
  </div> <!-- here the div for the background-image ends-->
  <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
