<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{title}} - Phone Book</title>

  <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" style="width:100%;">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Phone Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('searchbusiness') }}">Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('searchpeople') }}">People</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  {% block content %}
  {% endblock content %}
  <center>
    <footer class="footer">
      <p class="text-center">This page was made by Rachel, Mandy and Katie</p>
    </footer>
  </center>

  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
