{% extends "layout.html" %}

{% block content %}
<div class ="container" id="people-table">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <table id="people" class="table table-striped table-bordered table-hover" style="width:100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Surname</th>
                <th>Address</th>
                <th>City</th>
                <th>Postcode</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people_table %}
            <tr>
                <td>{{ person[0] }}</td>
                <td>{{ person[1] }}</td>
                <td>{{ person[2] }}</td>
                <td>{{ person[3] }}</td>
                <td>{{ person[5] }}</td>
                <td>{{ person[4] }}</td>
            </tr>
        {% endfor %}
        </tbody>
            </table>
        </div>
    </div>
  </div>
{% endblock %}
